.container{
    border: 1px solid red;
}

.left{
    float:left;
    width:200px;
    height:200px;
    background-color:aqua;
}

.right{
    float:right;
    width:200px;
    height:200px;
    background-color: aquamarine;

}
.mid{
    background-color:cadetblue;
    height:200px;
    margin-left:220px;
    margin-right:220px;
}