.container {
    position: relative;
    width: 500px;
    height: 500px;
    border: 1px solid #465468;
}
.box{
    position: absolute;
    top:calc(50%-125px);
    left:calc(50%-125px);
    width: 250px;
    height: 250px;
    background-color: lightblue;
}